body{
	/* Always show scroll bar, cause otherwise menu shifts around*/
	overflow-y:scroll;

	margin:0;
	padding:0;
	height:100%;
	
	/* Taken from Bootstrap */
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

    font-size: 1.25rem;
    font-weight: 300;

	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items: center;
}

h1{
	font-size:2.5rem;
}
h2{
	font-size:2rem;
}
h3{
	font-size:1.75rem;
}
h4{
	font-size:1.5rem;
}
h1,h2,h3,h4{
	font-weight:500;
	line-height: 1.2;
	margin-top:0;
	margin-bottom: .5rem;
	padding:0rem;
}
p.lead{
	margin-top:0;
}
a{
	text-decoration:none;
	text-decoration:underline;
	border-bottom: 1px solid currentColor;
	text-decoration:none;
}
a:hover{
	border-bottom: 2px solid currentColor;
}


.main-header{
	/* Otherwise the main content header gets to close to the menu */
	margin-bottom:1rem;
}

.main-header .nav-link {
	font-weight: 700;
	color: var(--text-color-alt);
	background-color: transparent;
	border-bottom: .25rem solid transparent;
	text-decoration:none;
	padding:.5rem 1rem;
	font-size:.9em;
}

.main-header .nav-link:hover,
.main-header .nav-link:focus {
	border-bottom-color: var(--text-color-alt)
}

.main-header .active,
.main-header .active:hover,
.main-header .active:focus

{
	color: var(--text-color);
	border-bottom-color: var(--underline-color);
	outline:0;
}

.main-header nav{
	padding-top:1rem;
}
#content{
	text-align:center;
	max-width: 44rem;
}

.main-footer {
	margin-top:1rem;
	color: var(--text-color-alt);
	font-size:.9em;
	text-align:center;
}

.main-footer a:not(:hover){
	border-bottom:none;
}

.skills{
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content:space-between;
	align-content:center;
}
.skillgroup{
	max-width:22rem;
	margin:0 auto;
	margin-bottom:.5rem;
}
