/*
 * Globals
 */

/* Dark theme */
:root{
	--text-color: #fff;
	--text-color-alt: rgba(255, 255, 255, .5);
	--text-shadow-color:rgba(0,0,0,.5);
	--box-shadow-color:rgba(0,0,0,.5);
	--bg-color: #333;
	--input-bg-color: #555;
	--input-fg-color: #fff;
	--input-border-color: #333;

}

/* Light Theme */
@media(prefers-color-scheme: light) {
	:root{
		--text-color: #333;
		--text-color-alt: rgba(0, 0, 0, .5);
		--text-shadow-color:rgba(255,255,255,.5);
		--box-shadow-color:rgba(255,255,255,.5);
		--bg-color: #f7f7f7;
		--input-bg-color: #fff;
		--input-fg-color: #333;
		--input-border-color: #f7f7f7;
	}
}

:root
{
	--btn-text-color: var(--bg-color);
	--btn-border-color: var(--text-color);
	--btn-bg-color: var(--text-color);
	--underline-color:var(--text-color);
}


/* Links */
a,
a:focus,
a:hover {
	color: var(--text-color);
}

input,.form-control, input:focus, .form-control:focus{
	background-color: var(--input-bg-color);
	color: var(--input-fg-color);
	border-color:var(--input-border-color);
}
textarea{
	background-color: var(--input-bg-color);
	color: var(--input-fg-color);
	border-color:var(--input-border-color);
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
	color: var(--btn-text-color);
	text-shadow: none; /* Prevent inheritance from `body` */
	background-color: var(--btn-bg-color);
	border: .05rem solid var(--btn-border-color);
}


/*
 * Base structure
 */

html,
body {
	height: 100%;
	background-color: var(--bg-color);
	color: var(--text-color);
}


.monochrome-image{
	mix-blend-mode:screen;
	filter: grayscale(100%) invert(100%) contrast(10000%);
}

body.text-center {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-shadow: 0 .05rem .1rem var(--text-shadow-color);
	box-shadow: inset 0 0 5rem var(--box-shadow-color);
}


/* Login form */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Modal */
.modal-content{
	background-color: var(--bg-color);
	color: var(--text-color);
	border-color: var(--input-border-color)
}
button.close, button.close:hover{
	color: var(--text-color)
}
/* No annoying lines*/
.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}



